<ion-view view-title="Moedas">
  <ion-nav-buttons>
    <button class="button" ng-click="state.reordering = !state.reordering">Reordenar</button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list show-reorder="state.reordering">
      <ion-item ng-repeat="currency in currencies" class="item-toggle">
        {{currency.code}} - {{currency.text}}
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="currency.selected">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
        <ion-reorder-button class="ion-navicon" on-reorder="move(currency, $fromIndex, $toIndex)">
        </ion-reorder-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
