<ion-popover-view>
    <ion-header-bar>
        <h1 class="title">Taxas Atuais</h1>
    </ion-header-bar>
    <ion-content>
        <div class="padding">
            Nesta guia, você pode ver os últimos preços de transação de bitcoins em determinadas
            moedas e compará-los com a taxa média de rolagem de 24h.
        </div>
        <div class="padding">
            Arrastando a lista de taxas e soltando, você consegue atualizar os valores.
            Clicando sobre as taxas, você obtém detalhes.
        </div>
        <div class="padding">
            Desenvolvedor: <br>
            <a href="http://www.instagram.com/nicolas_holanda">Nicolas Holanda</a> <br><br>
            Servidor: <br>
            <a href="http://www.bitcoinaverage.com/">Bitcoin Average</a>
        </div>
    </ion-content>
</ion-popover-view>